.panel.panel-default
  .panel-heading
    .panel-title
      .row
        .col-md-4
          Add website details
        .col-md-8
          .pull-right
            = link_to "Back", "/websites", class: "btn btn-info active"
  .panel-body
    = form_for(@website, :html => { :role => 'form' }) do |f|
      = render 'layouts/error_messages', { object: @website }
      .form-group.row
        .col-md-2
          = f.label :name, 'Website Name'
        .col-md-10
          = f.text_field :name, autofocus: true, size: 25

      = f.fields_for :web_pages do |builder|
        = render 'web_page_fields', :f => builder
      = link_to_add_fields "Add Web Page", f, :web_pages, "btn btn-default", "Add a new Web Page"
      .actions.text-center
        = f.submit "Submit", :class => "btn btn-success"