!!!
%html
  %head
    %title ParseAmazon
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .row
      = render :partial => "layouts/flash_messages"
      = yield